{% extends "base.html" %}
{% load static %}
{% block content %}
        <section class="jumbotron text-center">
        <div class="container">
            <h1>Casos de Exito</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Caso 1</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Caso 2</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Historia</h1>
        <p class="lead text-muted">Quetzalcóatl Sistemas S. A. de C.V. fue constituida el 24 de marzo de 1999, por
            profesionistas en el desarrollo de sistemas informáticos, comunicaciones y mecatrónica, teniendo como
            objetivo proveer al Sector Gubernamental y Empresarial de las mejores herramientas tecnológicas para la
            administración y el control de los recursos.

            Considerando como una gran área de oportunidad ”La Seguridad Publica” dentro del sector Gubernamental, se
            inicio el desarrollo de Sistemas de Información Policial.
        <p>

        </p>
    </div>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">

                <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
            </div>
            <div class="col-6 col-md">
                <h5>Link</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Nosotros</a></li>
                    <li><a class="text-muted" href="#">Contacto</a></li>
                    <li><a class="text-muted" href="#">Organigrama</a></li>
                    <li><a class="text-muted" href="#">ubicacion</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Consulta</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Boton Panico</a></li>
                    <li><a class="text-muted" href="#">PAP</a></li>
                    <li><a class="text-muted" href="#">Seguridad</a></li>
                    <li><a class="text-muted" href="#">Politicas</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Compromiso</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Mision</a></li>
                    <li><a class="text-muted" href="#">Vision</a></li>
                    <li><a class="text-muted" href="#">Valores</a></li>
                </ul>
            </div>

        </div>
    </footer>

{% endblock %}